body {
    font-family: "Tahoma";
    font-size: 12px;
}
h1{
    font-size: 16px;
    text-align: center;
}
hr.firma{
    color: #000000;
    height: 1px;
    width: 150px;
    float: center;
}
p{
    text-align: justify;
}
.piepagina{
    bottom: 0%;
    position: fixed;
    text-align: center;
}
.header{
    padding-top: 0px;
}
.header-atributo{
    padding-top: -15px;
}
.cabecera {
    padding-left: 20px;
    padding-right: 20px;
}
.tabla{
    padding-top: 30px;
    width:100%; 
} 
.pie{
    padding-top: 50px;
}
table {
    border-collapse: collapse;
}  
table, td, th {
    border: 1px solid black;
    text-align: center;
}